# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode8.2
language: objective-c
cache: cocoapods
podfile: Example/Podfile
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod repo update
- pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -workspace Example/FeedCollectionViewController.xcworkspace -scheme FeedCollectionViewController-Example -sdk iphonesimulator10.2 -destination platform='iOS Simulator',OS=10.2,id='DB794781-65A7-4884-8D00-AAC3CBD39A44' ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint --allow-warnings
